node_modules/
dist/
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
.env.production
uploads/

# WhatsApp sessões e cache
.wwebjs_auth/
.wwebjs_cache/

# PM2 logs
logs/
.pm2/
